<div class='form'>
<%= form_for @user, url: login_path do |f| %>

<% if @user.errors.any? %>
  <% @user.errors.full_messages.each do |message| %>
    <li> <%= message %> </li>
  <% end %>
<% end %>

    <%= f.label :email %>
    <p>
    <%= f.email_field :email, autofocus: true %>
    <p>
    <%= f.label :password %>
    <p>
    <%= f.password_field :password %>
    <p>
    <%= f.submit "Login", class: 'btn btn-info' %>

<% end %>
</div>
