<h3>Welcome, <%= current_user[:name] %>!</h3>
<h5>Search someone's username on Twitter and see how they stack up compared to ShelllKell.</h5>
<br>

<%= form_tag '/tweets', method: :get, class: "navbar-form navbar-left" do %>
  <div class="input">
    <%= label_tag("Username") %>
    <%= text_field_tag :username, nil, placeholder: "Enter username", class: "form-control" %>
    <%= submit_tag "Search", class: "btn btn-default" %>
<% end %>
  </div>

<div class='col-md-4'>
  <h4>Most recent tweets from Shelby:</h4>

  <blockquote>
    <% @tweet_reader.shelbys_tweets.each do |tweet| %>
    <li>
      <div class="well">
        <%= tweet.text  %>
      <br>
        <div class="status">
          <% if tweet.favorite_count > tweet.retweet_count %>
            Favorited like a boss: <%= tweet.favorite_count %>
          <% elsif tweet.favorite_count == 0 || tweet.retweet_count == 0 %>
            * * * you're a loser * * *
          <% elsif %>
            Imitation is the sincerest form of flattery: <%= tweet.favorite_count %>
          <% else tweet.favorite_count == tweet.retweet_count %>
            TIE! <%= tweet.favorite_count %>
          <% end %>
        </div>
          <small><%= tweet.user.name %></small>
      </div>
    </li>
    <% end %>
  </blockquote>
</div>

<div class='col-md-4'>
  <h4>Most recent tweets from <%= params[:username] %>:</h4>

  <blockquote>
    <% @others_tweets.each do |tweet| %>
    <li>
      <div class="well">
        <%= tweet.text  %>
      <br>
        <div class="status">
          <% if tweet.favorite_count > tweet.retweet_count %>
            People liked this more: <%= tweet.favorite_count %>
          <% elsif tweet.favorite_count == 0 || tweet.retweet_count == 0 %>
            * * * you're a loser * * *
          <% elsif %>
            People wanted to share this more: <%= tweet.favorite_count %>
          <% else tweet.favorite_count == tweet.retweet_count %>
            A Liked and Retweeted TIE! <%= tweet.favorite_count %>
          <% end %>
          </div>
          <small><%= tweet.user.name %></small>
      </div>
    </li>
    <% end %>
  </blockquote>
</div>


<!-- <h4>Wanna send a tweet?</h4>

  <%= form_tag '/', class: "navbar-form navbar-left" do %>
  <%= label_tag("Tweet") %>
  <%= text_field_tag(:status) %>
  <%= submit_tag "Send yo tweet", class: "btn btn-default" %>
  <% end %> -->
