<h4>ShelllKell's Tweets</h4>

  <% @tweet_reader.shelbys_tweets.each do |tweet| %>
    <li><%= tweet.text  %></li>
  <% end %>

<h4>Most recent tweets from any user:</h4>

  <%= form_tag '/', method: :get do %>
  <%= label_tag("username") %>
  <%= text_field_tag(:username) %>
  <%= submit_tag %>
  <% end %>

  <% @others_tweets.each do |tweet| %>
    <li><%= tweet.text  %></li>
  <% end %>

<h4>Wanna send a tweet?</h4>

  <%= form_tag '/' do %>
  <%= label_tag("Tweet") %>
  <%= text_field_tag(:status) %>
  <%= submit_tag "Send Yo Tweet" %>
  <% end %>
